body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    font-size: 45px;
    color: #37251b;
    background-color: #ECE5E5;
    display: flex;
    justify-content: center;
}

.main{
    border: 3px solid #37251bb9;
    background-color: #8f755f69;
    border-radius: 10px;
    padding: 30px;
}

.display{
    width: 439px;
    background-color: #ECE5E5;
    margin: 0px;
    padding: 30px 0;
    margin-bottom: 15px;
    border: 3px solid #37251bb9;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
}

.top{
    font-size: 20px;
    padding: 0 10px;
    color: #37251bdc;
}

.bottom{
    padding: 0 10px;
    overflow-wrap: anywhere;
    display: flex;
    flex-flow: row wrap;
    max-width: auto;
   
}

.container{
   /* border: 5px solid black;*/
    width: 445px;
    height: 435px;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    font-size: 30px;    
    width: 100px;
    height: 75px;
    background-color: #ECE5E5;
    border: 3px solid #37251bb9;
    color: #37251b;
    border-radius: 10px;
}

.clear{
    width: 330px;
}